:root {
  --green: #02e797;
  --gray: #212121;
  --black: #0c0c0c;
  --white: #e9e9e9;
}
* {
  color: var(--white);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
@font-face {
  font-family: "hell";
  src: url("./fonts/Helvetica_NTUXwLmxSC.ttf");
}
@font-face {
  font-family: "gill";
  src: url("./fonts/Gilroy-Medium_eHDK2RllDd.ttf");
}
@font-face {
  font-family: "new";
  src: url("./fonts/NeueMachina-Regular_DQCmjH1st.ttf");
}
body {
  background: var(--black);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 80px;
  font-family: "hell";
  /* background: red; */
  position: fixed;
  width: 100%;
}
.nav1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.nav1 img {
  height: 50px;
}
.nav1 h4 {
  font-family: "new";
  font-size: 20px;
  font-weight: 400;
}
.nav2 h4 {
  font-size: 18px;
}
.nav2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
}
.nav3 {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-size: 25px;
}
@media (max-width: 900px) {
  nav {
    padding: 10px 40px;
  }

  .nav1 {
    gap: 20px;
  }
  .nav1 h4 {
    font-size: 15px;
  }
  .nav2 {
    gap: 17px;
  }
  .nav2 h4 {
    font-size: 15px;
  }
}
@media (max-width: 690px) {
  nav {
    padding: 11px 21px;
    /* background: blue; */
  }
  .nav1 {
    gap: 10px;
  }
  .nav1 h4 {
    font-size: 13px;
  }
  .nav1 img {
    height: 40px;
  }
  .nav2 {
    display: none;
  }
  .nav3 {
    display: flex;
  }
}
main {
  padding-top: 100px;
  /* background: red; */
}
.section1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 12px 80px;
  font-family: hell;
}
.section1 span {
  color: var(--green);
}
.section1 .left {
  width: 39%;
  /* background: red; */
}
.section1 .right {
  width: 45%;
  /* background: blue; */
}
.section1 .right img {
  width: 500px;
}
.left h1 {
  font-size: 49px;
  font-weight: 600;
}

.left .tags {
  display: flex;
  align-items: center;
  gap: 6px 6px;
  margin: 20px 0;
  flex-wrap: wrap;
  width: 80%;
}

.left .tags h4 {
  background: var(--gray);
  padding: 10px 14px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 15px;
}
.left .price {
  font-size: 42px;
  margin-top: 54px;
  /* background: blue; */
}
.left h5 span {
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 600;
}

.right-card {
  height: fit-content;
  width: 100%;
  /* background: greenyellow; */
  background: var(--gray);
  overflow: hidden;
  border-radius: 10px;
}
.right .right-card .image {
  width: 100%;
}
.right .right-card .image img {
  width: 100%;
}
.right .right-card .image-bottom {
  /* background: blue; */
  padding: 10px;
  padding-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-bottom: 19px;
}
.image-bottom h4 {
  background: #151515;
  padding: 14px;
  font-size: 20px;
  white-space: nowrap;
  width: 47%;
  border-radius: 4px;
  font-weight: 500;
}

.buttonsSect1 {
  /* background: blue; */
  display: flex;
  gap: 23px;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
}
.buttonsSect1 button {
  cursor: pointer;
  font-size: 25px;
  padding: 28px 28px;
  background-color: #009560;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  width: 46%;
}
.buttonsSect1 button:nth-child(2) {
  background: #353535;
  font-weight: 400;
}
.cta {
  font-size: 20px;
  font-weight: 400;
  margin-top: 5px;
}
@media (max-width: 1300px) {
  .right .right-card .image-bottom {
    gap: 5px;
  }
  .image-bottom h4 {
    font-size: 1.2vw;
  }
  .left h1 {
    font-size: 4.2vw;
    line-height: 4.2vw;
  }
  .left .tags {
    gap: 3px;
  }
  .left .tags h4 {
    font-size: 1.5vw;
    padding: 10px 15px;
  }
}
@media (max-width: 800px) {
  main {
    width: 100%;
    /* background: blueviolet; */
  }
  .section1 {
    flex-direction: column-reverse;
    /* background: red; */
    width: 100%;
    padding: 10px 30px;
  }
  .section1 .left {
    width: 100%;
    /* background: blue; */
  }
  .section1 .right {
    width: 100%;
  }
  .right .right-card .image-bottom {
    /* background: green; */
    gap: 10px;
    padding-top: 20px;
  }
  .image-bottom h4 {
    font-size: 2.3vw;
  }
  .left h1 {
    margin-top: 20px;
    font-size: 6.2vw;
    line-height: 6.2vw;
  }
  .left .tags {
    gap: 4px;
  }
  .left .tags h4 {
    font-size: 2.5vw;
    padding: 10px 15px;
  }
  .left .price {
    font-size: 7vw;
    margin-top: 10px;
  }
  .left h5 span {
    font-size: 4vw;
  }
  .buttonsSect1 {
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .buttonsSect1 button {
    font-size: 3vw;
    padding: 15px 20px;
  }
  .cta {
    font-size: 3vw;
  }
}
